<%- include("../partials/head") %>

<form method="POST" action="/blogs">
  <label for="title">Title</label><br />
  <input type="text" id="title" name="title" /><br />
  <label for="image">Image</label>
  <input type="text" id="image" name="image" /><br />
  <label for="description">Description</label>
  <textarea type="text" id="description" name="description" /><br />
  <button>Submit</button>
</form>

<%- include("../partials/footer") %>
